
    {{title}}

    {{description}}
    
    <form {{action 'save' on="submit"}}>
    {{view  Ember.TextField valueBinding="title" placeholder="title" required="true" }}
    <br />
    {{view  Ember.TextField valueBinding="description" placeholder="description" required="true" }}
    <br />
    <button class="btn btn-success" type="submit">Save</button>
    </form>